.banner {
  background-image: url("../assets/Health.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  /* filter: blur(0.9); */

  margin: 2rem 1rem;
}
